* {
    margin: 0;
}

body {
    font-family: 'Lato';
}

/* this is shared section */
.btn {
    border-radius: 8px;
    color: white;
    background: #E55473;
    padding: 20px 40px;
    border: 0;
}

/* this is for banner */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.banner-title {
    color: #272727;
    font-size: 80px;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-image {
    width: 500px;
    height: 600px;
}