* {
    margin: 0;
}

body {
    font-family: 'Lato';
}

/* this is shared section */
.btn {
    border-radius: 8px;
    color: white;
    background: #E55473;
    padding: 20px 40px;
    border: 0;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

/* this is for banner */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 170px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-image {
    width: 500px;
    height: 600px;
}

/* this is for main section */

/* featured section */


.featured-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.featured-photo-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
}


.featured-photo-container,
h4 {
    text-align: center;
    margin-top: 32px;
}

.featured-photo1 {
    padding: 117px 76px 0 76px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-photo2 {
    padding: 140px 76px 0 76px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-photo3 {
    padding: 67px 76px 0 76px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* this is for hot deal */
.hot-deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 100px;
}

.hot-deal-container {
    text-align: center;
}

.word-color {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 32px;
}

/* this is for instagram section */

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.instagram-image-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}